<div class="container about__container">
  <h1 class="title">¿Quienes Somos?</h1>
  <article class="text">
    <p class="article__paragraph">
      Nuestra meta es bastante sencilla, nacimos con el propósito de ser
      aquellos que, mediante este proyecto, dejen su grano de arena en eso que
      todos llamamos <b>tradición</b>. Creemos que hay que preservarla,
      sobretodo la culinaria, esas que cada abuela inculcó en la familia,
      porque: ¿Quién olvidaría esa
      <a [routerLink]="['/recepie', '6111a2d695dd7b145ddf335c']"
        >torta de queso</a
      >
      o
      <a [routerLink]="['/recepie', '611190982afbaa908898c69e']">polvorosas</a>
      que nos preparaban o aún preparan con tanto cariño?
    </p>

    <p class="article__paragraph">
      Somos fieles creyentes en que, el acto de cocinar para otros, constituye
      una de las mayores y mas puras muestras de amor en la vida y ellas,
      <b>nuestras abuelas</b>, lo saben mejor que nadie.
    </p>

    <div class="img__card">
      <div class="img">
        <img
          src="assets/img-article1.jpg"
          alt="Polvorosas"
          class="img__quote"
        />
      </div>

      <div class="img__text">
        <blockquote>
          ¿Quién olvidaría esa torta de queso que nos preparaban o aún preparan
          con tanto cariño?
        </blockquote>
      </div>
    </div>

    <p class="article__paragraph">
      Debido a esto, abrazamos la idea de preservar esas recetas, como oro en
      paño para que, no solo nosotros, el equipo de
      <a class="logo logo__text">Grandmom's</a> la comparta, sino que nuestra
      comunidad pueda compartir eso que no es solo un plato, sino algo hecho con
      el corazón, porque, mas allá de lo complejo y lo exquisito que pueda ser
      cualquier plato que ellas elaboren, existe otro secreto.
    </p>

    <div class="img__card">
      <div class="img">
        <img
          src="assets/img-article2.jpg"
          alt="CheeseCake"
          class="img__quote"
        />
      </div>

      <div class="img__text">
        <blockquote>
          Abrazamos la idea de preservar esas recetas, como oro en paño
        </blockquote>
      </div>
    </div>

    <p class="article__paragraph">
      Cualquiera siempre dirá: No hay mejor comida que la de mi abuela, sino
      que, hemos descubierto realmente el ingrediente especial detrás de todo y
      no es precisamente lo complejo de las recetas que encontrarás aquí, sino
      el esmero, cariño y tesón que le ponen a lo mas sencillo que elaboraran en
      los fogones de casa. Ese es el verdadero <i>“yo no se qué”</i>, que
      tienen.
    </p>

    <div class="img__card">
      <div class="img">
        <img
          src="assets/img-article3.jpg"
          alt="CheeseCake"
          class="img__quote"
        />
      </div>

      <div class="img__text">
        <blockquote>
          Cualquiera siempre dirá: No hay mejor comida que la de mi abuela
        </blockquote>
      </div>
    </div>

    <p class="article__paragraph">
      Por esto, deseamos difundir así nuestro contenido a través de una
      comunidad que interactúe y se nutra entre si, porque, así y solo así,
      ellas, encontrarán una manera de ser eternas en nuestros corazones :
      Además de estar en aquellos momentos compartidos, esos consejos, y cuentos
      tan particulares, siempre, siempre las recordaremos a través del poder de
      su sazón, esa que cada una tiene y la hace resaltar para nosotros entre
      tantas a través de una memoria tan significativa dejada por su deliciosa
      comida.
    </p>
  </article>
</div>
